# 02 - Feature Engineering & Sampling

This notebook expands the dataset, defines the target variable `prepay`, and performs initial data exploration. Applied simple sampling and create baseline feature summaries for modeling. 

## Objectives:
- Load loan-level CRT data from multiple years
- Create 20% sample of loans from a baseline reporting period
- Define the binary `prepay` flag
- Conduct exploratory analysis on categorical features
- Identify candidate variables for modeling

## Summary
This notebook prepares a modeling-ready dataset by joining and sampling historical loan records, labeling the target variable, and performing initial feature analysis. We now have a clean dataset with labeled outcomes, ready for macroeconomic feature integration.

1. get more data in
2. [optional] simple sampling
3. start to explore relationship between prepay and other predictor variables: correlation, bin plot Current Actual UPB: divide UPB by 0 to100K, 100k to 200k, 200k to 300k, 300k+, plot the binned UPB against prepay.
4. produce prepay percentage in groupby statement
5. get interest rate data: get 10 year treasury rate from 2017 to 2023

In [2]:
import pandas as pd
import numpy as np

In [1]:
from os import listdir
from os.path import isfile, join

In [ ]:
file_loc='/Users/Downloads/CAS-102013-082023'

In [5]:
headerfile='CRT_Header_File.csv'
csv_files = [f for f in listdir(file_loc) if isfile(join(file_loc,f)) and (
    '2018.csv' in f or '2019.csv' in f or '2020.csv' in f)]

In [6]:
header=pd.read_csv(file_loc+'/CRT_Header_File.csv')
df_list = []
for i,csv in enumerate(csv_files):
    df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
    df1.columns=header.columns
    df_list.append(df1)

/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,82,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,82,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,82,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,82,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)
/var/folders/nb/cq9dyksn0z39zq6k8k66f0xc0000gn/T/ipykernel_55484/3016847529.py:4: DtypeWarning: Columns (42,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(file_loc+'/'+csv, delimiter='|', header=None)

### Load & Combine Multiple Years of CRT Data
Loaded all 2018–2020 datasets and apply the correct column headers.

In [7]:
df=pd.concat(df_list)

In [8]:
df.shape

(6714900, 108)

In [22]:
df.describe()

,Reference Pool ID,Loan Identifier,Monthly Reporting Period,Original Interest Rate,Current Interest Rate,Original UPB,UPB at Issuance,Current Actual UPB,Original Loan Term,Origination Date,...,Next Payment Change Date,Index,ARM Cap Structure,Initial Interest Rate Cap Up Percent,Periodic Interest Rate Cap Up Percent,Lifetime Interest Rate Cap Up Percent,Mortgage Margin,ARM Plan Number,Alternative Delinquency Resolution Count,Total Deferral Amount
count,6714900.0,6.714900e+06,6.714900e+06,6.714900e+06,5.729326e+06,6.714900e+06,6.714900e+06,6.714900e+06,6.714900e+06,6.714900e+06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4835.0,4835.000000
mean,1501.0,9.011017e+07,6.701883e+04,4.377809e+00,4.366868e+00,2.438257e+05,2.409014e+05,1.963082e+05,3.594334e+02,5.677707e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5669.177431
std,0.0,6.294863e+04,3.452029e+04,3.660536e-01,3.639466e-01,1.229430e+05,1.222127e+05,1.361970e+05,5.770644e+00,1.313858e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3848.635625
min,1501.0,9.000000e+07,1.201800e+04,3.125000e+00,3.125000e+00,1.200000e+04,5.390770e+03,0.000000e+00,2.410000e+02,1.201700e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,387.720000
25%,1501.0,9.005547e+07,3.951850e+04,4.125000e+00,4.125000e+00,1.480000e+05,1.460381e+05,1.022023e+05,3.600000e+02,5.201700e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3083.680000
50%,1501.0,9.011095e+07,6.701900e+04,4.330000e+00,4.250000e+00,2.230000e+05,2.193503e+05,1.845485e+05,3.600000e+02,6.201700e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4713.240000
75%,1501.0,9.016637e+07,9.451950e+04,4.625000e+00,4.625000e+00,3.210000e+05,3.178772e+05,2.840847e+05,3.600000e+02,6.201700e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,7185.400000
max,1501.0,9.021463e+07,1.220190e+05,6.125000e+00,6.125000e+00,1.223000e+06,1.218732e+06,1.218732e+06,3.600000e+02,1.220160e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,41300.990000

## create a 20% sample

In [10]:
df['reporting_period'] = pd.to_datetime(df['Monthly Reporting Period'].astype(str), format='%m%Y')

In [11]:
sample_loans = df[df['reporting_period']==pd.Timestamp('2017-11-1')].sample(frac=0.2)

In [12]:
sample_loans.shape

(37305, 109)

In [13]:
dfs=df.merge(sample_loans['Loan Identifier'], on='Loan Identifier', how='inner')

In [14]:
dfs.shape

(1342980, 109)

In [24]:
df.groupby('reporting_period').size()

reporting_period
2017-11-01    186525
2017-12-01    186525
2018-01-01    186525
2018-02-01    186525
2018-03-01    186525
2018-04-01    186525
2018-05-01    186525
2018-06-01    186525
2018-07-01    186525
2018-08-01    186525
2018-09-01    186525
2018-10-01    186525
2018-11-01    186525
2018-12-01    186525
2019-01-01    186525
2019-02-01    186525
2019-03-01    186525
2019-04-01    186525
2019-05-01    186525
2019-06-01    186525
2019-07-01    186525
2019-08-01    186525
2019-09-01    186525
2019-10-01    186525
2019-11-01    186525
2019-12-01    186525
2020-01-01    186525
2020-02-01    186525
2020-03-01    186525
2020-04-01    186525
2020-05-01    186525
2020-06-01    186525
2020-07-01    186525
2020-08-01    186525
2020-09-01    186525
2020-10-01    186525
dtype: int64

## Data exploration

In [27]:
dfs.describe()
dfs.describe().to_csv('vars_numeric.csv')

In [28]:
dfs.describe(include=[object])
dfs.describe(include=[object]).to_csv('vars_obj.csv')

### Define Target Variable: `prepay`
A loan is labeled as `prepay = 1` if it was prepaid (Zero Balance Code == 1), and `0` otherwise.

In [19]:
dfs['prepay']=0
dfs.loc[dfs['Zero Balance Code'] == 1, 'prepay'] = 1

In [20]:
new_cols=[]
for col in dfs.columns:
    new_cols.append(col.strip())
dfs.columns=new_cols

### Explore Categorical Predictors
Group by loan-related variables (e.g., Loan Purpose) to understand distribution and `prepay` behavior.

In [21]:
groupvars=['Loan Purpose']
dfs.groupby(groupvars,dropna=False).agg({'prepay':['count','mean']})

              prepay
               count      mean
Loan Purpose
C             331694  0.187718
P             843084  0.124453
R             168202  0.165081

# Next steps

1. have a list of variables that can be used as predictor
2. derive rate incentive, and house price change
3. go ahead and fit a tree model (training, out-of-sample test, out-of-time test)

## variables to exclude:
loan ID,
monthly reporting period,
zero balance code / date

In [46]:
vars = pd.read_excel('variable-selection.xlsx', sheet_name='numeric', index_col=None)
vars_selected_num=vars[vars['Selected'].isnull()]
vars_selected_num
# vars['Selected']

,var-name,count,mean,std,min,0.25,0.5,0.75,max,Selected
3,Original Interest Rate,1342980,4.377466,0.366255,3.125,4.1250,4.275,4.625,6.125,NaN
4,Current Interest Rate,1146712,4.366241,0.364105,3.125,4.1250,4.250,4.625,6.125,NaN
5,Original UPB,1342980,243164.830452,122426.579022,12000.000,148000.0000,222000.000,320000.000,1223000.000,NaN
6,UPB at Issuance,1342980,240209.340270,121778.616839,8539.260,145819.4600,219127.600,317148.070,1218732.090,NaN
7,Current Actual UPB,1342980,196020.161730,135640.407004,0.000,102150.0075,184864.635,283451.140,1218732.090,NaN
8,Original Loan Term,1342980,359.403780,5.925368,264.000,360.0000,360.000,360.000,360.000,NaN
9,Origination Date,1342980,56710.204637,13112.483754,12017.000,52017.0000,52017.000,62017.000,122016.000,NaN
10,First Payment Date,1342980,76740.495510,13118.471480,32017.000,72017.0000,72017.000,82017.000,102017.000,NaN
11,Loan Age,1146562,20.608680,10.176305,2.000,12.0000,20.000,29.000,44.000,NaN
12,Remaining Months to Legal Maturity,1146562,338.929312,12.249852,224.000,331.0000,340.000,348.000,481.000,NaN
13,Remaining Months To Maturity,1145711,333.024335,27.914538,1.000,327.0000,338.000,347.000,359.000,NaN
14,Maturity Date,1146562,66916.501903,13174.940709,12044.000,62047.0000,72047.000,72047.000,122059.000,NaN
15,Original Loan to Value Ratio (LTV),1342980,75.869941,5.374231,61.000,73.0000,80.000,80.000,80.000,NaN
16,Original Combined Loan to Value Ratio (CLTV),1342980,76.328126,5.784570,10.000,74.0000,80.000,80.000,101.000,NaN
17,Number of Borrowers,1342980,1.492427,0.527596,1.000,1.0000,1.000,2.000,4.000,NaN
18,Debt-To-Income (DTI),1342974,34.471887,9.041287,0.000,28.0000,36.000,42.000,50.000,NaN
19,Borrower Credit Score at Origination,1342512,750.877899,47.843653,620.000,717.0000,762.000,791.000,832.000,NaN
20,Co-Borrower Credit Score at Origination,643176,757.706438,45.560628,620.000,728.0000,770.000,795.000,831.000,NaN
21,Number of Units,1342980,1.045275,0.290516,1.000,1.0000,1.000,1.000,4.000,NaN
27,Current Loan Delinquency Status,1162773,0.036077,0.417361,0.000,0.0000,0.000,0.000,33.000,NaN
30,UPB at the Time of Removal,196379,248596.472922,128133.734318,0.020,151282.7500,228116.880,333820.710,1207450.100,NaN
32,Scheduled Principal Current,1305675,308.056731,275.566930,-30222.950,133.9700,280.640,452.950,8370.380,NaN
33,Total Principal Current,1305675,3557.513805,31213.359501,-154908.570,142.3100,302.320,499.600,1207450.100,NaN
34,Unscheduled Principal Current,1305675,3249.410693,31169.114637,-155248.960,0.0000,0.000,0.000,1204170.480,NaN
35,Last Paid Installment Date,150,44551.426667,30831.595231,12018.000,12018.0000,32018.000,72018.000,122018.000,NaN
36,Foreclosure Date,150,87618.680000,33826.376436,12020.000,72019.0000,102019.000,112018.000,112018.000,NaN
37,Disposition Date,132,65731.053030,39758.256860,12020.000,22019.0000,72019.000,112018.000,112018.000,NaN
38,Foreclosure Costs,111,5038.143964,2491.965636,776.500,3533.5700,3983.290,6142.990,9638.600,NaN
39,Property Preservation and Repair Costs,111,1376.894505,1747.325189,0.000,187.0000,298.220,2687.950,4657.660,NaN
40,Asset Recovery Costs,103,153.871845,717.134659,0.000,0.0000,0.000,0.000,5000.000,NaN
41,Miscellaneous Holding Expenses and Credits,107,630.018411,2391.015778,-832.440,0.0000,80.300,413.650,10173.330,NaN
42,Associated Taxes for Holding Property,111,2172.732342,1423.957477,0.000,1527.4000,1949.700,2900.920,5059.080,NaN
43,Net Sales Proceeds,107,104936.307009,66986.873626,0.000,45891.4400,106772.950,162546.240,207046.240,NaN
44,Credit Enhancement Proceeds,103,0.000000,0.000000,0.000,0.0000,0.000,0.000,0.000,NaN
45,Repurchase Make Whole Proceeds,103,1061.409320,5306.266097,0.000,0.0000,0.000,0.000,27331.290,NaN
46,Other Foreclosure Proceeds,107,15696.446168,30485.721084,0.000,0.0000,0.000,974.850,75334.570,NaN
47,Modification-Related Non-Interest Bearing UPB,820,5921.570878,18764.997532,0.000,0.0000,0.000,0.000,124721.220,NaN
48,Principal Forgiveness Amount,1845,0.000000,0.000000,0.000,0.0000,0.000,0.000,0.000,NaN
49,Original List Start Date,42,74399.857143,53135.244803,12020.000,22020.0000,122018.000,122018.000,122018.000,NaN
50,Original List Price,42,112857.142857,75564.080843,45000.000,45000.0000,45000.000,195000.000,195000.000,NaN
51,Current List Start Date,42,81542.714286,46114.055955,12020.000,24520.0000,122018.000,122018.000,122018.000,NaN
52,Current List Price,42,107904.761905,70630.888539,45000.000,45000.0000,45000.000,191250.000,195000.000,NaN
53,Borrower Credit Score At Issuance,1329336,748.338786,50.158727,468.000,715.0000,763.000,788.000,817.000,NaN
54,Co-Borrower Credit Score At Issuance,637236,755.516750,47.876781,454.000,727.0000,771.000,793.000,816.000,NaN
55,Borrower Credit Score Current,1134379,752.742764,57.069051,387.000,722.0000,770.000,796.000,818.000,NaN
56,Co-Borrower Credit Score Current,543372,759.890537,52.567895,389.000,734.0000,777.000,799.000,818.000,NaN
58,Current Period Modification Loss Amount,634995,0.044579,3.942472,0.000,0.0000,0.000,0.000,873.050,NaN
59,Cumulative Modification Loss Amount,1342980,0.183091,25.393637,0.000,0.0000,0.000,0.000,6875.880,NaN
60,Current Period Credit Event Net Gain or Loss,634288,0.095473,60.073435,-27331.820,0.0000,0.000,0.000,27963.500,NaN
61,Cumulative Credit Event Net Gain or Loss,1342980,0.398935,62.350197,-212.250,0.0000,0.000,0.000,27967.700,NaN
65,Delinquent Accrued Interest,111,4602.966216,2994.388868,1736.690,1981.7000,3107.460,6794.910,13526.360,NaN
79,Alternative Delinquency Resolution Count,943,1.000000,0.000000,1.000,1.0000,1.000,1.000,1.000,NaN
80,Total Deferral Amount,943,6072.847900,4143.316110,765.480,3125.2500,5107.750,7620.560,31801.510,NaN

In [47]:
vars = pd.read_excel('variable-selection.xlsx', sheet_name='object', index_col=None)
vars_selected_obj=vars[vars['Selected'].isnull()]
vars_selected_obj

,var-name,count,unique,top,freq,Selected
0,Channel,1342980,3,R,765793.0,NaN
1,Seller Name,1342980,24,Other,613980.0,NaN
2,Servicer Name,1146562,33,Other,415691.0,NaN
4,First Time Home Buyer Indicator,1342980,2,N,1084428.0,NaN
5,Loan Purpose,1342980,3,P,843084.0,NaN
6,Property Type,1342980,5,SF,800640.0,NaN
7,Occupancy Status,1342980,3,P,1098792.0,NaN
8,Property State,1342980,53,CA,187704.0,NaN
13,Modification Flag,1146580,2,N,1145729.0,NaN
15,Servicing Activity Indicator,1146562,2,N,1126848.0,NaN
16,HomeReady Program Indicator,1342980,2,7,1313270.0,NaN
17,Relocation Mortgage Indicator,1342980,2,N,1334088.0,NaN
19,Property Valuation Method,183652,2,A,144916.0,NaN
20,High Balance Loan Indicator,1342980,2,N,1277532.0,NaN
22,Borrower Assistance Plan,155045,5,7,142936.0,NaN
25,Repurchase Make Whole Proceeds Flag,58714,2,N,58670.0,NaN
26,Alternative Delinquency Resolution,149220,2,7,148277.0,NaN

In [48]:
var_list = vars_selected_num['var-name'].tolist() + vars_selected_obj['var-name'].tolist()
var_list

['Original Interest Rate',
 'Current Interest Rate',
 'Original UPB',
 'UPB at Issuance',
 'Current Actual UPB',
 'Original Loan Term',
 'Origination Date',
 'First Payment Date',
 'Loan Age',
 'Remaining Months to Legal Maturity',
 'Remaining Months To Maturity',
 'Maturity Date',
 'Original Loan to Value Ratio (LTV)',
 'Original Combined Loan to Value Ratio (CLTV)',
 'Number of Borrowers',
 'Debt-To-Income (DTI)',
 'Borrower Credit Score at Origination',
 'Co-Borrower Credit Score at Origination',
 'Number of Units',
 'Current Loan Delinquency Status',
 'UPB at the Time of Removal',
 'Scheduled Principal Current',
 'Total Principal Current',
 'Unscheduled Principal Current',
 'Last Paid Installment Date',
 'Foreclosure Date',
 'Disposition Date',
 'Foreclosure Costs',
 'Property Preservation and Repair Costs',
 'Asset Recovery Costs',
 'Miscellaneous Holding Expenses and Credits',
 'Associated Taxes for Holding Property',
 'Net Sales Proceeds',
 'Credit Enhancement Proceeds',
 'Repurchase Make Whole Proceeds',
 'Other Foreclosure Proceeds',
 'Modification-Related Non-Interest Bearing UPB',
 'Principal Forgiveness Amount',
 'Original List Start Date',
 'Original List Price',
 'Current List Start Date',
 'Current List Price',
 'Borrower Credit Score At Issuance',
 'Co-Borrower Credit Score At Issuance',
 'Borrower Credit Score Current',
 'Co-Borrower Credit Score Current',
 'Current Period Modification Loss Amount',
 'Cumulative Modification Loss Amount',
 'Current Period Credit Event Net Gain or Loss',
 'Cumulative Credit Event Net Gain or Loss',
 'Delinquent Accrued Interest',
 'Alternative Delinquency  Resolution Count',
 'Total Deferral Amount',
 'Channel',
 'Seller Name',
 'Servicer Name',
 'First Time Home Buyer Indicator',
 'Loan Purpose',
 'Property Type',
 'Occupancy Status',
 'Property State',
 'Modification Flag',
 'Servicing Activity Indicator',
 'HomeReady Program Indicator',
 'Relocation Mortgage Indicator',
 'Property Valuation Method',
 'High Balance Loan Indicator',
 'Borrower Assistance Plan',
 'Repurchase Make Whole Proceeds Flag',
 'Alternative Delinquency Resolution']